<div class="row" ng-controller="AlumniController">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Alumni listing
            </header>
            <div class="panel-body">
                <div class="row form-inline">
                	<div class="col-xs-12 col-sm-8">
                		<div class="form-group">
	                        <select ng-model='filters.field' class="form-control">
	                        	<option  ng-repeat="(field, label) in fields_options" ng-selected="filters.field == field" value="{{field}}">{{label}}</option>
	                        </select>
	                    </div>
	                    <div class="form-group">
	                        <input type="text" ng-model="filters.search" class="form-control" placeholder="Keyword">
	                    </div>
	                    <div class="form-group">
	                    	<input type="text" ng-model="filters.batch" style="width:35%" class="form-control" placeholder="Batch">
	                    	<select ng-model='filters.field' class="form-control" style="width:50%">
	                    		<option value="">All Programs</option>
	                        	<option  ng-repeat="field in ['Firstname','Lastname','Position','Company']" value="{{field|lowercase}}">{{field}}</option>
	                        </select>
	                   	</div>
                	</div>
                	<div class="col-xs-12 col-sm-4 text-right">
                		<div class="form-group">
                			<span class="small">sort by</span>
                			<select ng-model='filters.sort' class="form-control" style="width:35%">
	                        	<option  ng-repeat="(key, value) in sort_options" ng-selected="filters.sort == key" value="{{key}}">{{value}}</option>
	                        </select>
	                    	<select ng-model="filters.size" class="form-control">
	                    		<option ng-repeat="n in [10,20,30,40,50,60,70,80,90,100]" ng-selected="filters.size == n" value="{{n}}">{{n}}</option>
	                    	</select>
	                    	<span class="small">records per page</span>
	                    </div>
                	</div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <table ng-show="alumni.data.length > 0" class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="4">ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Program</th>
                            <th>Batch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in alumni.data" class="animate-repeat">
                            <td style="text-align:center">{{ item.id }}</td>
                            <td>{{ item.firstname }}</td>
                            <td>{{ item.lastname }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.batch }}</td>
                        </tr>
                    </tbody>
                </table>
                <h3 ng-show="alumni.data.length == 0">No records found...</h3>
                <div ng-show="alumni.data.length > 0" class="row listing_summary">
                	<div class="col-xs-12 col-sm-3">
                		Showing {{alumni.from}} to {{alumni.to}} of {{alumni.total}} results
                	</div>
                	<div class="col-xs-12 col-sm-9 text-right">
                		<div id="pagination" paginate="alumni"></div>
                	</div>
                </div>
            </div>
        </section>
    </div>
</div>