.fullpage div[class^="body-"], fullpage div[class*="body-"]{
	z-index: 10010;
}

::selection{background:#1FB5AD;color:#fff}
::-moz-selection{background:#1FB5AD;color:#fff}

.noselect {
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-gutter > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}

.pad-5 {
	padding-right:5px;
    padding-left:5px;
}

.pad-10 {
	padding-right:10px;
    padding-left:10px;
}


#subheader {
	position: fixed;
	padding: 0px 15px;
	margin: -15px;
	z-index: 100;
	right: 15px;
	left: 255px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (max-width: 768px) {
/*	#subheader {
		display: none !important;
	}*/
}

.merge-left #subheader {
	left: 15px !important;
	padding-left: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (max-width: 1170px) {
	#subheader {
		right: 15px !important;
		left: 15px !important;
		margin-top: -95px !important;
	}
}

@media (min-width: 1300px) {
	.visible-xlg {
		display: inline-block !important;
		visibility: visible !important;
	}
}

#subheader .panel, #subheader .panel-body {
	margin: 0;
	border-radius: 0;
    -webkit-border-radius: 0
}
#subheader .panel {
	-webkit-box-shadow: 0 3px 1px -1px #aaa;
       -moz-box-shadow: 0 3px 1px -1px #aaa;
            box-shadow: 0 3px 1px -1px #aaa;
}

.listing_summary .pagination {
	margin: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #1fb5ad;
	border-color: #1fb5ad;
	color: #FFF;
}

.panel header .right-button-group {
	margin-top: -5px;
}

.panel header .right-button-group > a{
	font-weight: 400;
	font-size: 10px;
}

.btn-text-size {
	font-weight: 400;
	font-size: 10px;
}

@media (min-width: 768px) and (max-width: 1270px) {

.form-inline .form-group .form-control.small {width: 100px;}
.form-inline .form-group .form-control.x-small {width: 80px;}

}

li.checklist {}
li.checklist > a span{padding-left: 5px;}
li.checklist > a .fa {
	margin-left: -15px;
	margin-top: 3px;
	width: 14px;
}

.table-checkbox {
	padding-left: 10px !important;
	padding-right: 10px !important;
	text-align:center;
}

tr > .selected:first-child, tr > .selected:first-child ~ td{
	background: rgb(255, 255, 204);
}

tr > .currentSelected:first-child, tr > .currentSelected:first-child ~ td{
	background: rgba(255, 255, 204, 0.35) !important;
}


#alumni-container .block-ui-container {
	z-index: 1001 !important;
}


/*
* removes the annoying effect when opening a modal
*/
.modal {
  overflow-y: auto;
}
/* custom class to add space for scrollbar */
.modal-scrollbar {
    margin-right: 17px !important;
}

.modal-scrollbar #subheader {
	margin-right: 0 !important;
}
/*end*/


/*program listing thumbnail*/
.thumb.right-caption > img {float: left;margin-right: 9px;width: 100px; height: 100px;}
.thumb.right-caption {float: left;margin-bottom: 10px;}
.thumb.right-caption > .caption {padding: 4px;}
.thumb.right-caption > .caption > h5 {font-weight: bold;padding: 1px;margin: 1px;}
.thumb.right-caption > .caption .button {display: none;}
.thumb.right-caption:hover > .caption .button {display: inline-block;}