.noselect {
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#subheader {
	position: fixed;
	padding: 0px 15px;
	margin: -15px;
	z-index: 100;
	background: #f1f2f7;
	right: 15px;
	left: 255px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (max-width: 768px) {
	#subheader {
		display: none !important;
	}
}

.merge-left #subheader {
	left: 15px !important;
	padding-left: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (max-width: 1170px) {
	#subheader {
		right: 15px !important;
		left: 15px !important;
		margin-top: -95px !important;
	}
}

@media (min-width: 1300px) {
	.visible-xlg {
		display: inline-block !important;
		visibility: visible !important;
	}
}

#subheader .panel, #subheader .panel-body {
	margin: 0;
	border-radius: 0;
    -webkit-border-radius: 0
}
#subheader .panel {
	-webkit-box-shadow: 0 3px 1px -1px #aaa;
       -moz-box-shadow: 0 3px 1px -1px #aaa;
            box-shadow: 0 3px 1px -1px #aaa;
}

.listing_summary .pagination {
	margin: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #1fb5ad;
	border-color: #1fb5ad;
	color: #FFF;
}

.panel header .right-button-group {
	padding-left: 10px;	
	margin-top: -5px;
}

.panel header .right-button-group > a{
	font-weight: 400;
	font-size: 10px;
}

@media (min-width: 768px) and (max-width: 1270px) {

.form-inline .form-group .form-control.small {width: 100px;}
.form-inline .form-group .form-control.x-small {width: 80px;}

}