<div id="alumni-container" class="row" ng-controller="AlumniController" scroll-to-top-when="alumni" block-ui="alumniResultBlock">
    <div class="col-sm-12">
        <div id="subheader" ng-class="{hidden:boolScrolledOnTop == false}">
            <section class="panel">
                <div ng-include="'alumniHeader'"></div>
                <div class="panel-body">
                    <div ng-include="'alumniFilters'"></div>
                </div>
            </section>
        </div>
        <section class="panel">
            <div ng-include="'alumniHeader'"></div>
            <div class="panel-body">
                <div ng-include="'alumniFilters'"></div>
                <div class="clearfix"></div>
                <hr>
                <section id="no-more-tables" class='table-responsive'>
                    <table ng-show="alumni.data.length > 0" class="table table-condensed table-hover" table-checkbox="alumni.data" checked-item="selectedItem">
                        <thead>
                            <tr>
                                <th ng-repeat="item in rights.data.viewables" ng-show="viewable(item.id)">{{item.label}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate-repeat" ng-repeat="(index, item) in alumni.data" data-id="{{item.id}}">
                                <td ng-repeat="itm in rights.data.viewables" ng-show="viewable(itm.id)" data-title="{{itm.label}}">
                                    {{displayData(item, itm.id)}}
                                </td>
                                <td>
                                    <a href="javascript:;" ng-click="openForm(index)"><i class='fa fa-pencil'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 ng-show="alumni.data.length == 0">No records found...</h3>
                <div ng-show="alumni.data.length > 0" class="row listing_summary">
                	<div class="col-xs-12 col-sm-4">
                		Showing {{alumni.from}} to {{alumni.to}} of {{alumni.total}} results
                	</div>
                	<div class="col-xs-12 col-sm-8 text-right">
                		<div id="pagination" paginate="alumni" middle="4"></div>
                	</div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/ng-template" id="alumniFilters">
    <div class="row">
        
        <div class="col-xs-12 col-sm-8">
            
            <div class="row">

                <form class='form-inline col-xs-12' role='form' >
                    <div class='form-group'>
                        <label class='sr-only'>Fields</label>
                        <select ng-model='filters.field' class="form-control">
                            <option ng-repeat="(field, label) in fields_options" ng-selected="filters.field == field" value="{{field}}">{{label}}</option>
                        </select>
                    </div>
                    
                    <div class='form-group'>
                        <label class='sr-only'>Keyword</label>
                        <input type="text" ng-model="filters.search" class="form-control small" placeholder="Keyword">
                    </div>

                    <div class='form-group ' ng-show='programs.data.length > 1'>
                        <label class='sr-only'>Program</label>
                        <select ng-model='filters.program' class="form-control">
                            <option value="">All Programs</option>
                            <option ng-repeat="item in programs.data" value="{{item.id}}">{{item.acronym}}</option>
                        </select>    
                    </div>

                    <div class='form-group'>
                        <label class='sr-only'>Batch</label>
                        <input type="text" ng-model="filters.batch" class="form-control x-small" placeholder="Batch">
                    </div>
                </form>
            </div>

        </div>
        
        <div class="col-xs-12 col-sm-4">
            
            <div class="row">
                <form class='form-inline col-xs-12 text-right' role='form' >
                    <div class='form-group' title="sory by">
                        <span class="small hidden visible-xlg">sort by</span>
                        <select ng-model='filters.sort' class="form-control">
                            <option ng-repeat="(key, value) in sort_options" ng-selected="filters.sort == key" value="{{key}}">{{value}}</option>
                        </select>
                    </div>

                    <div class='form-group' title="records per page">
                        <select ng-model="filters.size" class="form-control">
                            <option ng-repeat="n in [10,20,30,40,50,60,70,80,90,100]" ng-selected="filters.size == n" value="{{n}}">{{n}}</option>
                        </select>
                        <span class="small hidden visible-xlg">records</span>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</script>
<script type="text/ng-template" id="alumniHeader">
    <header class="panel-heading">
        Alumni listing &nbsp;
         <span class="right-button-group" has-permission='add_alumni'>
            <a href="javascript:;" class="btn btn-primary btn-responsive" ng-click="openForm('new')"><i class="fa fa-file-o"></i> Add</a>
            <a href="javascript:;" class="btn btn-primary btn-responsive"><i class="fa fa-file-excel-o"></i> Upload</a>
         </span>
         <span class="pull-right">
            <checklist model="displayedFields" options="rights.data.viewables" label="Displayed Fields" close-scroll="true" id="displayedFields"></checklist>
         </span>
    </header>
</script>