<form name="alumniForm" ng-submit="submitForm()" novalidate>

	<div class="modal-header">
		<button type="button" class="close hidden" ng-click="close()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{formTitle|uppercase}}</h4>
	</div>
	<div class="modal-body" block-ui="alumniFormBlock">
			
		<div class="row no-gutter pad-10">
			<div class="col-sm-5">
				<div class="form-group" ng-class="{ 'has-error' : hasError(alumniForm, alumniForm.firstname) }">
		            <label>Firstname*</label>
		            <input type="text" name="firstname" class="form-control" ng-model="formData.firstname" required>
		            <p ng-show="hasError(alumniForm, alumniForm.firstname)" class="help-block">Firstname is required.</p>
		        </div>
			</div>
			<div class="col-sm-5">
				<div class="form-group" ng-class="{ 'has-error' : hasError(alumniForm, alumniForm.lastname) }">
		            <label>Lastname*</label>
		            <input type="text" name="lastname" class="form-control" ng-model="formData.lastname" required>
		            <p ng-show="hasError(alumniForm, alumniForm.lastname)" class="help-block">Lastname is required.</p>
		        </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.mi.$invalid && !alumniForm.mi.$pristine }">
		            <label>MI*</label>
		            <input type="text" name="mi" class="form-control" ng-model="formData.mi">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-5">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.nickname.$invalid && !alumniForm.nickname.$pristine }">
		            <label>Nickname</label>
		            <input type="text" name="nickname" class="form-control" ng-model="formData.nickname">
		        </div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.birthday.$invalid && !alumniForm.birthday.$pristine }">
		            <label>Birthday</label>
		            <input type="text" id='alumni-birthday-input' ng-init="setBirthday()" name="birthday" ng-model="formData.birthday" class="form-control">
		        </div>
			</div>
			<div class="col-sm-3">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.gender.$invalid && !alumniForm.gender.$pristine }">
		            <label>Gender</label><br>
		            <label class="radio-inline">
					  <input type="radio" name="gender" id="" value="M"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="" value="F"> Female
					</label>
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-9 col-xs-9">
				<div class="form-group" ng-class="{ 'has-error' : hasError(alumniForm, alumniForm.program_id) }">
		            <label>Program</label>
		            <select name='program_id' class="form-control" ng-model="formData.program_id" required>
		            	<option value=""></option>
                        <option ng-repeat="item in programs.data" value="{{item.id}}" ng-selected="formData.program_id === item.id">{{item.name}} - ({{item.acronym}})</option>
                    </select>
		            <p ng-show="hasError(alumniForm, alumniForm.program_id)" class="help-block">Program is required.</p>
		        </div>
			</div>
			<div class="col-sm-3  col-xs-3">
				<div class="form-group" ng-class="{ 'has-error' : hasError(alumniForm, alumniForm.batch) }">
		            <label>Batch</label>
		            <input type="number" name="batch" class="form-control" ng-model="formData.batch">
		            <p ng-show="hasError(alumniForm, alumniForm.batch)" class="help-block">Invalid batch.</p>
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.position.$invalid && !alumniForm.position.$pristine }">
		            <label>Position</label>
		            <input type="text" name="position" class="form-control" ng-model="formData.position">
		        </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.company.$invalid && !alumniForm.company.$pristine }">
		            <label>Company</label>
		            <input type="text" name="company" class="form-control" ng-model="formData.company">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-3 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.no_work.$invalid && !alumniForm.no_work.$pristine }">
		            <label>Office No</label>
		            <input type="text" name="no_work" class="form-control" ng-model="formData.no_work">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.no_fax.$invalid && !alumniForm.no_fax.$pristine }">
		            <label>Fax No</label>
		            <input type="text" name="no_fax" class="form-control" ng-model="formData.no_fax">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.no_home.$invalid && !alumniForm.no_home.$pristine }">
		            <label>Home No</label>
		            <input type="text" name="no_home" class="form-control" ng-model="formData.no_home">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.no_mobile.$invalid && !alumniForm.no_mobile.$pristine }">
		            <label>Mobile No</label>
		            <input type="text" name="no_mobile" class="form-control" ng-model="formData.no_mobile">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.email_prefer.$invalid && !alumniForm.email_prefer.$pristine }">
		            <label>Primary Email</label>
		            <input type="text" name="email_prefer" class="form-control" ng-model="formData.email_prefer">
		            <p ng-show="alumniForm.email_prefer.$invalid && !alumniForm.email_prefer.$pristine" class="help-block">Invalid email value.</p>
		        </div>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.email_other.$invalid && !alumniForm.email_other.$pristine }">
		            <label>Secondary Email</label>
		            <input type="text" name="email_other" class="form-control" ng-model="formData.email_other">
		            <p ng-show="alumniForm.email_other.$invalid && !alumniForm.email_other.$pristine" class="help-block">Invalid email value.</p>
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-12">
				<div class="form-group" ng-class="{ 'has-error' : alumniForm.address.$invalid && !alumniForm.address.$pristine }">
		            <label>Address</label>
		            <input type="text" name="address" class="form-control" ng-model="formData.address">
		        </div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-right">
				<button type="button" class="btn" ng-click="close()">Cancel</button>
	    		<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>

	</div>

</form>