<div class="modal-header">
	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{formTitle|uppercase}}</h4>
</div>
<div class="modal-body">
	
	<form name="alumniForm" ng-submit="" novalidate>
		
		<div class="form-group" ng-class="{ 'has-error' : alumniForm.firstname.$invalid && !alumniForm.firstname.$pristine }">
            <label>Firstname*</label>
            <input type="text" name="firstname" class="form-control" ng-model="formData.firstname" required>
            <p ng-show="alumniForm.firstname.$invalid && !alumniForm.firstname.$pristine" class="help-block">Firstname is required.</p>
        </div>

	</form>

</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="save();">Save</button>
</div>