<form name="alumniForm" ng-submit="submitForm()" novalidate>

	<div class="modal-header">
		<button type="button" class="close hidden" ng-click="close()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{formTitle|uppercase}}</h4>
	</div>
	<div class="modal-body" block-ui="alumniFormBlock">
			
		<div class="row no-gutter pad-10">
			<div class="col-sm-5">
				<div class="form-group" ng-class="{ 'has-error' : hasError('firstname') }">
		            <label>Firstname*</label>
		            <input type="text" name="firstname" class="form-control" ng-model="formData.firstname" required>
		            <span class='help-block' ng-show="hasError('firstname', 'required')">Firstname field is required.</span>
		        </div>
			</div>
			<div class="col-sm-5">
				<div class="form-group" ng-class="{ 'has-error' : hasError('lastname') }">
		            <label>Lastname*</label>
		            <input type="text" name="lastname" class="form-control" ng-model="formData.lastname" required>
		            <span class='help-block' ng-show="hasError('lastname', 'required')">Lastname field is required.</span>
		        </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
		            <label>MI*</label>
		            <input type="text" name="mi" class="form-control" ng-model="formData.mi">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-5">
				<div class="form-group">
		            <label>Nickname</label>
		            <input type="text" name="nickname" class="form-control" ng-model="formData.nickname">
		        </div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
		            <label>Birthday</label>
		            <input type="text" id='alumni-birthday-input' ng-init="setBirthday()" name="birthday" ng-model="formData.birthday" class="form-control">
		        </div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
		            <label>Gender</label><br>
		            <label class="radio-inline">
					  <input type="radio" name="gender" id="" value="M"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="" value="F"> Female
					</label>
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-9 col-xs-9">
				<div class="form-group" ng-class="{ 'has-error' : hasError('program_id') }">
		            <label>Program</label>
		            <select name='program_id' class="form-control" ng-model="formData.program_id" required>
		            	<option value=""></option>
                        <option ng-repeat="item in programs.data" value="{{item.id}}" ng-selected="formData.program_id === item.id">{{item.name}} - ({{item.acronym}})</option>
                    </select>
                    <span class='help-block' ng-show="hasError('program_id', 'required')">Program field is required.</span>
		        </div>
			</div>
			<div class="col-sm-3  col-xs-3">
				<div class="form-group">
		            <label>Batch</label>
		            <input type="text" name="batch" class="form-control" ng-model="formData.batch">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-6">
				<div class="form-group">
		            <label>Position</label>
		            <input type="text" name="position" class="form-control" ng-model="formData.position">
		        </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
		            <label>Company</label>
		            <input type="text" name="company" class="form-control" ng-model="formData.company">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-3 col-xs-6">
				<div class="form-group">
		            <label>Office No</label>
		            <input type="text" name="no_work" class="form-control" ng-model="formData.no_work">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group">
		            <label>Fax No</label>
		            <input type="text" name="no_fax" class="form-control" ng-model="formData.no_fax">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group">
		            <label>Home No</label>
		            <input type="text" name="no_home" class="form-control" ng-model="formData.no_home">
		        </div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="form-group">
		            <label>Mobile No</label>
		            <input type="text" name="no_mobile" class="form-control" ng-model="formData.no_mobile">
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : hasError('email_prefer') }">
		            <label>Primary Email</label>
		            <input type="email" name="email_prefer" class="form-control" ng-model="formData.email_prefer" ng-model-options="{ allowInvalid: true }">
		            <span class='help-block' ng-show="hasError('email_prefer', 'email')">The email field must be a valid email address.</span>
		        </div>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" ng-class="{ 'has-error' : hasError('email_other') }">
		            <label>Secondary Email</label>
		            <input type="email" name="email_other" class="form-control" ng-model="formData.email_other" ng-model-options="{ allowInvalid: true }">
		            <span class='help-block' ng-show="hasError('email_other', 'email')">The email field must be a valid email address.</span>
		        </div>
			</div>
		</div>
		<div class="row no-gutter pad-10">
			<div class="col-sm-12">
				<div class="form-group">
		            <label>Address</label>
		            <input type="text" name="address" class="form-control" ng-model="formData.address">
		        </div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-right">
				<button type="button" class="btn" ng-click="close()">Cancel</button>
	    		<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>

	</div>

</form>